n8n/VMP-workflow.json
{
  "name": "VMP",
  "nodes": [
    {
      "parameters": {
        "path": "vmp-read",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "ad34f38b-91fe-4041-ad25-ca1e2f7e9875",
      "name": "Webhook",
      "webhookId": "753b4f2e-6fd6-41df-80d4-eba0497c118e"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1FEl03KJYoBh2YwYOnBeEZkNGXPxYSVR6BPrZbhtgbEk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "VMP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FEl03KJYoBh2YwYOnBeEZkNGXPxYSVR6BPrZbhtgbEk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "a71a3a43-3748-40d3-b976-f2b2077c4b94",
      "name": "Google Sheets (đọc)",
      "credentials": {
        "googleApi": {
          "id": "uqbMxdAY6BDmg4Ez",
          "name": "kết nối google"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function clean(s){ return String(s).replace(/\\s+/g, ' ').trim(); }\n\nconst rows = $input.all().map(({ json }) => {\n  const g = {};\n  for (const k of Object.keys(json)) g[clean(k)] = json[k];\n  const get = (h) => g[clean(h)] ?? '';\n  return {\n    id:             get('ID thẩm định'),\n    ma:             get('Mã đối tượng'),\n    ten:            get('Tên đối tượng'),\n    phan_loai:      get('Phân loại đối tượng'),\n    loai_td:        get('Loại thẩm định'),\n    bo_phan:        get('Bộ phận quản lý'),\n    khu_vuc:        get('Mã khu vực'),\n    line:           get('Line'),\n    show:           get('Show'),\n    td:             get('Thẩm định'),\n    tan_suat:       get('Tần suất thẩm định (tháng)'),\n    so_ngay_cong:   get('Số ngày công thẩm định thực tế'),\n    diem_trong_yeu: get('Điểm trọng yếu'),\n    nam:            get('Năm'),\n    qa:             get('QA phụ trách (QA nhập)'),\n    email_qa:       get('Email (QA nhập)'),\n    ns_khac:        get('Nhân sự bộ phận khác (Bộ phận khác nhập)'),\n    email_khac:     get('Email (Bộ phận khác nhập)'),\n    dl_de_cuong:    get('Deadline đề cương (T- 60 ngày)'),\n    ngay_de_cuong:  get('Thời gian thực tế hoàn thành đề cương'),\n    tt_de_cuong:    get('Trạng thái đề cương'),\n    dl_tham_dinh:   get('Deadline thẩm định thực tế (T-5-BC)'),\n    lich_td:        get('Bộ phận quản lý xếp lịch thẩm định (dd/mm/yyyy hh:mm:ss)'),\n    ngay_tham_dinh: get('Thời gian thực tế hoàn thành Thẩm định thực tế'),\n    tt_tham_dinh:   get('Trạng thái thẩm định thực tế'),\n    phan_loai_bc:   get('Phân loại báo cáo'),\n    dl_bao_cao:     get('Deadline báo cáo (T-5 ngày)'),\n    ngay_bao_cao:   get('Thời gian thực tế hoàn thành báo cáo'),\n    tt_bao_cao:     get('Trạng thái báo cáo'),\n    dl_vmp:         get('Deadline VMP (T)'),\n    ngay_vmp:       get('Thời gian thực tế Deadline VMP'),\n    tt_vmp:         get('Trạng thái VMP'),\n  };\n}).filter(r => r.ma);\n\nreturn [{ json: { ok: true, count: rows.length, rows } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "7413633b-2d54-49b5-8752-4737b5fcd5d6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        0
      ],
      "id": "d4884b1b-ac69-445f-a9a8-d7926b46d67a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vmp-write",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        224
      ],
      "id": "0d1d047b-b946-48aa-8c6e-5d07b3f0f82a",
      "name": "Webhook1",
      "webhookId": "3989b201-b384-4a6a-909b-c014b9acecd7"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.body;\nconst p = typeof raw === 'string' ? JSON.parse(raw) : raw;\n\nif (p.action === 'ping') return [{ json: { ok: true, pong: true, ts: Date.now() } }];\nif (p.action !== 'updateRow' || !p.id) throw new Error('Thiếu action=updateRow hoặc id');\n\nconst pt = p.patch || {};\nreturn [{ json: {\n  id: p.id, user: p.user || '', ts: p.ts || '',\n  ngay_de_cuong:  pt.ngay_de_cuong  ?? '',\n  tt_de_cuong:    pt.tt_de_cuong    ?? '',\n  lich_td:        pt.lich_td        ?? '',\n  ngay_tham_dinh: pt.ngay_tham_dinh ?? '',\n  tt_tham_dinh:   pt.tt_tham_dinh   ?? '',\n  ngay_bao_cao:   pt.ngay_bao_cao   ?? '',\n  tt_bao_cao:     pt.tt_bao_cao     ?? '',\n  ngay_vmp:       pt.ngay_vmp       ?? '',\n  tt_vmp:         pt.tt_vmp         ?? '',\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        224
      ],
      "id": "b524917a-cd1a-4357-b2e5-0575c0be133d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1FEl03KJYoBh2YwYOnBeEZkNGXPxYSVR6BPrZbhtgbEk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "VMP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FEl03KJYoBh2YwYOnBeEZkNGXPxYSVR6BPrZbhtgbEk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Thời gian thực tế hoàn thành đề cương\n": "={{ $json.ngay_de_cuong }}",
            "Trạng thái đề cương": "={{ $json.tt_de_cuong }}",
            "Bộ phận quản lý xếp lịch thẩm định\n(dd/mm/yyyy hh:mm:ss)": "={{ $json.lich_td }}",
            "Thời gian thực tế hoàn thành Thẩm định thực tế": "={{ $json.ngay_tham_dinh }}",
            "Trạng thái thẩm định thực tế": "={{ $json.tt_tham_dinh }}",
            "Thời gian thực tế hoàn thành báo cáo": "={{ $json.ngay_bao_cao }}",
            "Trạng thái báo cáo": "={{ $json.tt_bao_cao }}",
            "Thời gian thực tế Deadline VMP": "={{ $json.ngay_vmp }}",
            "Trạng thái VMP": "={{ $json.tt_vmp }}",
            "ID thẩm định": "={{ $json.id }}"
          },
          "matchingColumns": [
            "ID thẩm định"
          ],
          "schema": [
            {
              "id": "STT",
              "displayName": "STT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phân loại đối tượng",
              "displayName": "Phân loại đối tượng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Loại thẩm định",
              "displayName": "Loại thẩm định",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mã đối tượng",
              "displayName": "Mã đối tượng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tên đối tượng",
              "displayName": "Tên đối tượng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bộ phận quản lý",
              "displayName": "Bộ phận quản lý",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mã khu vực",
              "displayName": "Mã khu vực",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Line",
              "displayName": "Line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tình trạng",
              "displayName": "Tình trạng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Show",
              "displayName": "Show",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thẩm định",
              "displayName": "Thẩm định",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tần suất thẩm định (tháng)",
              "displayName": "Tần suất thẩm định (tháng)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Năm",
              "displayName": "Năm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID thẩm định",
              "displayName": "ID thẩm định",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "QA phụ trách\n(QA nhập)",
              "displayName": "QA phụ trách\n(QA nhập)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email\n(QA nhập)",
              "displayName": "Email\n(QA nhập)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nhân sự bộ phận khác\n(Bộ phận khác nhập)",
              "displayName": "Nhân sự bộ phận khác\n(Bộ phận khác nhập)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email\n(Bộ phận khác nhập)",
              "displayName": "Email\n(Bộ phận khác nhập)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Deadline đề cương \n(T- 60 ngày)",
              "displayName": "Deadline đề cương \n(T- 60 ngày)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời gian thực tế hoàn thành đề cương\n",
              "displayName": "Thời gian thực tế hoàn thành đề cương\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái đề cương",
              "displayName": "Trạng thái đề cương",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Deadline thẩm định thực tế (T-5-BC)",
              "displayName": "Deadline thẩm định thực tế (T-5-BC)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bộ phận quản lý xếp lịch thẩm định\n(dd/mm/yyyy hh:mm:ss)",
              "displayName": "Bộ phận quản lý xếp lịch thẩm định\n(dd/mm/yyyy hh:mm:ss)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời gian thực tế hoàn thành Thẩm định thực tế",
              "displayName": "Thời gian thực tế hoàn thành Thẩm định thực tế",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái thẩm định thực tế",
              "displayName": "Trạng thái thẩm định thực tế",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phân loại báo cáo",
              "displayName": "Phân loại báo cáo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Deadline báo cáo (T-5 ngày)",
              "displayName": "Deadline báo cáo (T-5 ngày)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời gian thực tế hoàn thành báo cáo",
              "displayName": "Thời gian thực tế hoàn thành báo cáo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái báo cáo",
              "displayName": "Trạng thái báo cáo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Deadline VMP (T)",
              "displayName": "Deadline VMP (T)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời gian thực tế Deadline VMP",
              "displayName": "Thời gian thực tế Deadline VMP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái VMP",
              "displayName": "Trạng thái VMP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hasNewRows",
              "displayName": "hasNewRows",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "count",
              "displayName": "count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "debug_sheetA",
              "displayName": "debug_sheetA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "debug_sheetB",
              "displayName": "debug_sheetB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "=USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        224
      ],
      "id": "ff4567a0-4a14-4cca-87e1-b9415ec4b0ba",
      "name": "Google Sheets (ghi)",
      "credentials": {
        "googleApi": {
          "id": "uqbMxdAY6BDmg4Ez",
          "name": "kết nối google"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{{ { \"ok\": true, \"id\": $('Code in JavaScript1').item.json.id } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        224
      ],
      "id": "da03aea3-8227-4ebb-9f41-1ec016461666",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets (đọc)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets (đọc)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Google Sheets (ghi)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets (ghi)": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "deefefbf-5dc4-4a67-a5ec-586b10734497",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ea70412f6483404a24a396db9516cfc29e7c69a85518e948e0c2108ba561bd9"
  },
  "id": "h72rRPx5dHjZ01Bx",
  "tags": []
}